.qux-table {
    overflow: auto;

    &.qux-table-fixed {
        display: flex;
        flex-direction: column;

        .qux-table-header {

        }

        .qux-table-body {
            overflow: auto;
            flex-grow: 1;
        }
    }

    table {
        width: 100%;
        height: 100%;
        border-spacing: 0;
        border-collapse: collapse;

        .qux-table-action{
            cursor: pointer;
        }
        .qux-table-action:hover{
            text-decoration: underline;
        }

        .qux-table-action-hover{
            opacity: 0;
        }

        th {
            cursor: pointer;
        }

        tr:hover .qux-table-action-hover{
            opacity: 1;
        }

        .qux-table-action-cntr{
            text-align: right;
        }
    }

    
}