.qux-segment{
    display: flex;
    justify-content: stretch;

    .qux-segment-item{
        flex-grow: 1;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;

        .qux-segment-item-label{
            display: inline-block;
            width: 100%;
        }
    }
}