.qux-combo{
    border:none;
    position: relative;
    transition: all 0.2s;

    .qux-combo-input{
        width: 100%;
        height: 100%;
    }

    .qux-combo-input:focus{
        outline: none;
    }

    .qux-combo-popup{
        position: absolute;
        top: calc(100% + 1px);
        left: 0px;
        display: none;
        border:1px solid #333;
        width: 100%;
        z-index: 1000;
        max-height: 300px;
        overflow: auto;
        background: #fff;
    }

    .qux-combo-item {
        display: block;
        cursor: pointer;
    }

    &.qux-open .qux-combo-popup{
        display: block;
    }
}