.qux{
    background: none;
    height: 100%;

    &.qux-component-screen{
        height: auto;
        display: inline-block;
    }
}

.qux-screen {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-size: 100%;

}


.qux-action {
    cursor: pointer;
    text-decoration: none;
}

/* This could be better with a grid, but then
   the row layot of labels would break, and
   we would not take full space */
.qux-valign-middle {
    position: relative;

    .qux-common-label {
        width: 100%;
        position: absolute;
        top:50%;
        left: 0px;
        transform: translateY(-50%);
    }
}

.qux-valign-bottom  {
    position: relative;

    .qux-common-label{
        width: 100%;
        position: absolute;
        bottom:0px;
        left: 0px;
    }
}

.qux-overlay-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 99999;

    &.qux-overlay-wrapper-fixed{
        position: fixed;
    }
}

.qux-screen-blurred{
    filter: blur(10px);
}
.qux-resize-left::before {
    content:'';
    width: 3px;
    background: orange;
}

.qux-resize-right::after {
    content:'';
    width: 3px;
    background: orange;
}

.qux-common-no-select{
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.qux-common-valign-center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.qux-noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }